body {
	background: royalblue;
	color: snow;
	font-weight: bold;
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}

iframe {
	background: gainsboro;
	color: #333;
	border: 0px solid gold;
	width: 100%;
	height: 100%;
	margin: 0;
}

iframe.current {
	border-color: gold !important;
	display: block;
}

iframe.next {
	border-color: #cacaca !important;
	display: none;
}

iframe.loading {
	border-color: hotpink !important;
}

#osd {
	color: gold;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
