body {
	background: royalblue;
	color: snow;
	font-weight: bold;
}

iframe {
	background: gainsboro;
	color: #333;
	border: 10px solid gold;
	width: 94%;
	height: 500px;
	margin: 0;
}

iframe.current {
	border-color: gold !important;
	display: block;
}

iframe.next {
	border-color: #cacaca !important;
	display: none;
}

iframe.loading {
	border-color: hotpink !important;
}
